* {
    margin: 0px;
    padding: 0px;
}

.home_section {
    height: 100vh;
    width: 100%;
    background-image: url("/static/car1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_content {
    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_content h1 {
    font-size: 30px;
    color: cyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 80px;
    text-transform: capitalize;
}

.nav_url {
    margin-right: 40px;
}

.nav_url a {
    color: white;
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.homepage_content {
    height: 90vh;
    width: 100%;
}

.homep_items {
    height: 40vh;
    width: 80vh;
    position: relative;
    top: 25vh;
    left: 20vh;
    padding: 30px;
    box-sizing: border-box;
}

.homep_items h1 {
    color: blue;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 13px 0px;
    text-transform: capitalize;
}

.homep_items p {
    color: white;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 0px;
}

.home_btn {
    color: white;
    background-color: blue;
    height: 6vh;
    width: 15vh;
    font-size: 13px;
    border-radius: 16px;
    text-transform: capitalize;
    cursor: pointer;
}

.fav_car {
    height: 80vh;
    width: 100%;
    background-color: black;
}

.fav_heading {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav_heading h1 {
    font-size: 36px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}

.fav_car_items {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ind_car_items {
    height: 45vh;
    width: 39vh;
    border-radius: 20px;
    background-color: rgba(28, 27, 27, 0.88);
    overflow: hidden;
    text-align: center;
}

.ind_car_items:hover {
    outline: 4px solid white;
    outline-offset: 5px;
}

.ind_car_items img {
    height: 25vh;
    width: 100%;
}

.ind_car_items h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 8px;
    color: cyan;
}

.ind_car_items p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}