<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mode car</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="home_section">

        <div class="nav_content">
            <h1>mode car</h1>
            <div class="nav_url">
                <a href="#">home</a>
                <a href="#">about</a>
                <a href="#">services</a>
                <a href="#">items</a>
            </div>
        </div>

        <div class="homepage_content">
            <div class="homep_items">
                <h1>mode car</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, soluta eveniet? Eius amet officia
                    accusamus! Expedita aspernatur minus reiciendis quia temporibus autem recusandae architecto beatae.
                    Delectus rerum quasi officia culpa!</p>
                <button class="home_btn">read more</button>
            </div>
        </div>
    </div>
</body>

</html>