<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mode car</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <!-- this is our home section -->
    <div class="home_section">

        <div class="nav_content">
            <h1>mode car</h1>
            <div class="nav_url">
                <a href="#">home</a>
                <a href="#">about</a>
                <a href="#">services</a>
                <a href="#">items</a>
            </div>
        </div>

        <div class="homepage_content">
            <div class="homep_items">
                <h1>mode car</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, soluta eveniet? Eius amet officia
                    accusamus! Expedita aspernatur minus reiciendis quia temporibus autem recusandae architecto beatae.
                    Delectus rerum quasi officia culpa!</p>
                <button class="home_btn">read more</button>
            </div>
        </div>
    </div>

    <!-- this is our favourite car section -->

    <section class="fav_car">
        <div class="fav_heading">
            <h1>our popular cars</h1>
        </div>
        <div class="fav_car_items">
            <div class="ind_car_items">
                <img src="/static/car1.jpg" alt="no images">
                <h1>bmw latest</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio assumenda amet esse temporibus quaerat
                    rerum.</p>
            </div>

            <div class="ind_car_items">
                <img src="/static/car2.jpg" alt="no images">
                <h1>bmw latest</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio assumenda amet esse temporibus quaerat
                    rerum.</p>
            </div>

            <div class="ind_car_items">
                <img src="/static/car3.jpg" alt="no images">
                <h1>bmw latest</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio assumenda amet esse temporibus quaerat
                    rerum.</p>
            </div>

            <div class="ind_car_items">
                <img src="/static/car4.jpg" alt="no images">
                <h1>bmw latest</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio assumenda amet esse temporibus quaerat
                    rerum.</p>
            </div>
        </div>

    </section>


    <!-- this is our car section -->

    <section class="cars">

        <div class="items_heading">
            <h1>
                available cars
            </h1>
        </div>

        <div class="cars_carts">
            <div class="ind_carts_cars">
                <img src="/static/car1.jpg" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>

            <div class="ind_carts_cars">
                <img src="/static/car2.jpg" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>

            <div class="ind_carts_cars">
                <img src="/static/car3.jpg" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>

            <div class="ind_carts_cars">
                <img src="/static/car4.jpg" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>

            <div class="ind_carts_cars">
                <img src="/static/car5.jpeg" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>

            <div class="ind_carts_cars">
                <img src="/static/car6.png" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>

            <div class="ind_carts_cars">
                <img src="/static/car7.jpg" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>

            <div class="ind_carts_cars">
                <img src="/static/car8.jpg" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>

            <div class="ind_carts_cars">
                <img src="/static/car9.jpg" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>

            <div class="ind_carts_cars">
                <img src="/static/car10.jpg" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>

            <div class="ind_carts_cars">
                <img src="/static/car11.jpg" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>

            <div class="ind_carts_cars">
                <img src="/static/car12.jpg" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>

            <div class="ind_carts_cars">
                <img src="/static/car13.jpg" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>

            <div class="ind_carts_cars">
                <img src="/static/car14.png" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>

            <div class="ind_carts_cars">
                <img src="/static/car15.jpg" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>

            <div class="ind_carts_cars">
                <img src="/static/car16.jpg" alt="no images">
                <h1>maruti suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, natus!</p>
            </div>
        </div>


    </section>

    <!-- this is our contributions section -->

    <div class="cont">
        <div class="cont_heading">
            <h1>our contributors</h1>
        </div>

        <div class="cont_logo">
            <img src="/static/logo1.png" alt="no images">
            <img src="/static/logo2.png" alt="no images">
            <img src="/static/logo3.png" alt="no images">
            <img src="/static/logo4.png" alt="no images">
            <img src="/static/logo5.png" alt="no images">
        </div>
    </div>


    <!-- this is our form in the mode car website -->
    <div class="car_form">
        <div class="form_heading">
            <h1>get contact with us</h1>
        </div>

        <div class="form_forms">
            <form action="">
                <input type="text" value="enter your name" class="field">
                <input type="text" value="enter your email" class="field">
                <textarea class="text_field">
                    enter your concern
                </textarea>
                <button class="form_btn">submit now</button>
            </form>
        </div>
    </div>

    <!-- tis is footer of our website -->
    <footer>
        <p>
            made by Mark S. ||
            copywrite &copy; 2024
        </p>
    </footer>
</body>

</html>